$thumb-size: 180px;
$wrap: 800px;

.news-container {
  container-type: inline-size;
}

/* General News Styling */
.news {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  border-radius: var(--rounded);
  background: var(--background);
  overflow: hidden;
  box-shadow: var(--shadow);
  padding: 20px;
}

.news-title {
  font-weight: var(--semi-bold);
  font-size: 18px;
  text-decoration: none;
  color: var(--primary);
}

.news-title:hover {
  text-decoration: underline;
}

.news-details {
  font-size: 14px;
  color: var(--gray);
  margin-top: 5px;
}

.news-description {
  font-size: 16px;
  color: var(--dark-gray);
  margin-top: 5px;
}

.news-image {
  position: relative;
  width: $thumb-size;
  flex-shrink: 0;
}

.news-image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.news-text {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
  height: min-content;
  padding: 20px;
  text-align: left;
  overflow-wrap: break-word;
  z-index: 0;
}

.news-text > .icon {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--light-gray);
  opacity: 0.5;
  font-size: 30px;
  z-index: -1;
}

.news-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.news-buttons .button {
  margin: 0;
}

.news-text > .tags {
  display: inline-flex;
  justify-content: flex-start;
  margin: 0;
}

.latest-news {
  margin-top: 40px;
  padding: 20px;
  background: var(--background);
  border-radius: var(--rounded);
  box-shadow: var(--shadow);
}

.news-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.news-list li {
  font-size: 16px;
  padding: 5px 0;
  border-bottom: 1px solid var(--light-gray);
}

.news-list li:last-child {
  border-bottom: none;
}

.news-date {
  font-weight: bold;
  color: var(--primary-dark);
}

.news-title {
  text-decoration: none;
  color: var(--primary);
}

.news-title:hover {
  text-decoration: underline;
}

.news-load-more {
  text-align: center;
  margin-top: 20px;
}

.news-load-more .button {
  padding: 8px 16px;
  background-color: var(--primary);
  color: white;
  border-radius: var(--rounded);
  text-decoration: none;
  display: inline-block;
}

.news-load-more .button:hover {
  background-color: var(--primary-dark);
}

