{% assign conferences_sorted = site.data.conferences.conferences | sort: "date" | reverse %}
{% assign conferences_by_year = conferences_sorted | group_by_exp: "e", "e.date | slice: 0, 4" %}

{% for y in conferences_by_year %}
  <h3>{{ y.name }}</h3>

  <table class="conferences-table">
    <thead>
      <tr>
        <th>Conference</th>
        <th>Location</th>
        <th>Date</th>
        <th>Deadline</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      {% for conference in y.items %}
      <tr>
        <td>{{ conference.name }}</td>
        <td>{{ conference.location }}</td>
        <td>{{ conference.date }}</td>
        <td>{{ conference.deadline }}</td>
        <td><a href="{{ conference.link }}" target="_blank">{{ conference.link }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endfor %}
